<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性简写</title>
</head>

<body>
    <!--

       计算属性两种写法：
       1.配置对象，get和set函数；
       2.不需setter函数时，简写成函数；

        -->
    <div id="root">
        <input type="text" v-model="firstName"> </br></br>
        <input type="text" v-model="lastName"> </br></br>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止Vue在启动时生成生产提示
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            computed: {
                //一般写法
                // fullName: {
                //     //get:初次读取时和所依赖的数据发生变化时才被再次调用。且get函数返回的值就作为fullName的值
                //     get: function () {
                //         console.log('get调用了')
                //         return this.firstName + this.lastName
                //     },
                //     //不写set时，默认是不可修改。set:当fullName被修改时会被调用
                //     set:function(value){
                //         console.log('set调用了')
                //         let arr = value.split('-');
                //         this.firstName=arr[0];
                //         this.lastName=arr[1];
                //     }
                // },
                //简写
                fullName() {
                    console.log('get调用了')
                    return this.firstName + this.lastName
                }
            }
        })
    </script>

</body>

</html>